@model Customer

<h2>Öğrenci Ekle</h2>
<hr>
<form asp-controller="Customer" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control">
    </div>
    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="DateOfBirth" class="form-label">Doğum Tarihi</label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
