@{
    ViewData["Title"] = "Müşteriler";
}

@model IEnumerable<Customer>

<h2>Müşteri Listesi</h2>
<a href="/Customer/Create" class="btn btn-primary">Müşteri Ekle</a>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>Müşteri Ad-Soyad</th>
            <th style="width: 150px;">Ayarlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                <td>
                    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-warning">Details</a>
                    <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-sm btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>